.login-page {
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-color: #286fe0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.mycard {
  width: 50%;
  height: 55%;
  margin: 10% auto;
  padding: 10px;
  
  border-radius: 30px;
  background-color: #ffffff;
  display: flex;
  
  
}

.right{
  display: flex;
  justify-content: end;
  align-items: center;
}

form{
  margin-left: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
button{
  width: 45%;
  margin-left: 65px;
  border-radius: 20px;
}




