<div class="login-page">
  <div class="mycard">
    <img [src]="img" alt="img" width="50%" >
    <div class="right">
      <form class="example-form">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Email</mat-label>
          <input type="email" matInput placeholder="Ex. pat@example.com" autocomplete="false" name="email" [(ngModel)]="email">
          <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Password</mat-label>
          <input type="password" matInput autocomplete="false" name="password" [(ngModel)]="password">
          <mat-icon matSuffix>lock</mat-icon>
        </mat-form-field>
        <br>
        <button mat-raised-button (click)="login()" style="background-color:#286fe0; color:#ffffff;">Login</button>
      </form>
      
    </div>
  </div>
</div>