<h1>Login</h1>
<input
placeholder="Email"
type="email"
required
name="email"
class="form-control"
[(ngModel)]="email"
>
<br/>
<input
placeholder="Password"
type="password"
required
name="password"
class="form-control"
[(ngModel)]="password"
>

<button (click)="login()">Signin</button>
<br/>




<h1>Sign UP</h1>
<input
placeholder="Email"
type="email"
required
name="email1"
class="form-control"
[(ngModel)]="email1"
>
<br/>
<input
placeholder="Password"
type="password"
required
name="password1"
class="form-control"
[(ngModel)]="password1"
>

<button (click)="register()">SignUp</button>